// Place all the styles related to the beaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
  background-color: #ACE1AF;
  border: none;
}
//#8FBC8F
body {
  background-color: #ACE1AF;
}

// 
.logo {
  
}

.form-control {
  width: 14em;
}