<div class="page-header">
  <div class="container">
    <h1>Top Beaches</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @response.each do |x| %>

      <%= render "beach_summary", :x => x %>
      
    <% end %>
  </div>
</div>