<% unless cookies.encrypted[:coordinates] %>
  <script>
    getGeoLocation();
  </script>
<% end %>

<div class="page-header">
  <div class="container">
    <h1>Top Beaches</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if !@response.empty? %>
      <% @response.each do |x| %>

        <%= render "beach_summary", :x => x %>
      
      <% end %>
    <% else %>
      <div class="col-xs-12">
        <p>Sorry, but there are no beaches near your location.</p>
      </div>
    <% end %>
  </div>
</div>
