<div class="page-header">
  <div class="container">
    <h1>Top Beaches</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @response.each do |x| %>

      <% cache(x['name'], :expires_in => 15.minutes) do %>

      <%= render "beach_summary", :x => x %>
      
      <% end %>
    <% end %>
  </div>
</div>