<div id="hero">
  <div id="main-intro">
    <div class="container">
      <h1>Welcome!</h1>
      <p class="lead">In the mood to go to the beach today but not sure where to go? Let us help you.</p>
      <form action="/beaches" method="post" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="lat">Latitude</label>
          <input type="string" name="latitude" id="lat" class="form-control" placeholder="latitude">
        </div>
        <div class="form-group">
          <label class="sr-only" for="long">Longitude</label>
          <input type="string" name="longitude" id="long" class="form-control" placeholder="longitude">
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
    </div>

  </div>
</div>
