<div class="jumbotron">
  <div class="container">
    <h1>Welcome to BestBeachToday!</h1>
    <p>In the mood to go to the beach but not sure where to go? We'll show you 
      the highest rated beaches around your location, how far they are
      away, and what the forecast is, to help make your decision easier.</p>
      
    <p>Give it a try:</p>
    
    <form action="/beaches" method="post" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="lat">Latitude</label>
        <input type="string" name="latitude" id="lat" class="form-control" placeholder="latitude">
      </div>
      <div class="form-group">
        <label class="sr-only" for="long">Longitude</label>
        <input type="string" name="longitude" id="long" class="form-control" placeholder="longitude">
      </div>
      <button type="submit" class="btn btn-primary">Go</button>
    </form>

  </div>
</div>

