<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Made by <a href="http://amy-mac.com">Amy MacKinnon</a> in WDI, 2013</p>
      </div>
      <div class="col-md-6">
        <p>
        <a href="http://www.wunderground.com"><img class="img-responsive pull-right" src="/assets/wundergroundLogo_white_horz.png" alt="Weather Undergroud logo"></a>
      </p>
      </div>
    </div>
  </div>
</footer>